* {
  font-family: "JetBrainsMono Nerd Font";
  min-height: 0;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: bold;
}

window.Bar,
window.Bar > centerbox {
  background-color: transparent;
}

.modules-right,
.modules-left {
  border-radius: 30px;
  background: @base;
  padding: 0.6em 0.4em;
  border: .5px solid black;
}

.module,
button.module {
  margin: 0 0.3em;
  background-color: @crust;
  padding: 0 1.4em;
  border-radius: 30px;
  border: 1px solid @highlightlow; 
  color: @iris;
}

.module:hover {
  border-width: 1.5px;
  background-color: @iris;
  color: black;
  border-color: @crust;
}

.notification-module.dnd-notification,
.notification-module.notification {
    color: @red;
}

.notification-module:hover {
  border-width: 1.5px;
  background-color: @crust;
  color: @love;
  border-color: @love;
}

.workspaces-container {
  border-radius: 30px;
  margin: 0.65em 0.3em;
  background-color: @base;
  border: 0.5px solid black;
  padding: 0 0.4em;
  /* background: transparent; */
}

.workspace-btn {
  margin: 0.8em 0.2em;
  background-color: @mantle;
  border: 1px solid @surface1; 
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  padding: 0 0.3em;
  min-width: 15px;
}

.workspace-btn:hover {
  background: @crust;
  color: @mauve;
}

.workspace-btn.active {
    border: 1.5px solid @mauve;
    padding: 0 1em;
}

.workspace-btn.urgent {
    color: @love;
    border: 1.5px solid @love;
}

.workspace-btn label {
  transition: all 200ms ease-in-out;
  color: @mantle;
}

.workspace-btn:hover label {
  color: @mauve;
}

.workspace-btn.active label {
  color: @mauve;
}

.workspace-btn.urgent label {
  color: @love;
}

.disks-module,
.volume-module,
.notification-module {
  transition: all 100ms ease-in-out;
  min-width: 1.4em;
}

.disks-module:hover,
.volume-module:hover,
.notification-module:hover {
  padding: 0 1.6em;
}

.notification-module, 
.disks-module,
.network-module,
.updates-module {
  padding: 0 0.5em;
  min-width: 1.4em;
}

.tooltip-wrapper {
  background: transparent;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

.custom-tooltip {
  background: transparent;
  padding: 0 3px;
}

.tooltip-box {
  background-color: @crust;
  border: 1px solid @highlihgtlow;
  padding: 8px 20px;
  color: @iris;
}

.disks-window {
  background: transparent;
}

.popup-box {
  background-color: @base;
  border: 1px solid black;
  padding: 30px 60px;
  color: @iris;
  border-radius: 20px;
}

.popup-box label {
  color: @iris;
  font-size: 16px;
}

.popup-btn {
  margin-top: 10px;
  background: @crust;
  border: 1px solid @hihglightlow;
  color: @iris;
  padding: 2px 10px;
  border-radius: 30px;
}

.popup-btn:hover {
  background-color: @iris;
  color: @crust;
}

.popup-btn:hover label {
  color: @crust;
}

.disks-title {
  font-size: 18px;
  margin-bottom: 8px;
  color: @iris;
  padding-bottom: 4px;
  background-color: @crust;
  padding: 0.6em;
  border-radius: 20px;
  border-bottom: 1px solid @black;
}

.popup-box calendar {
  padding: 1.5em;
}
