@import "mocha.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    min-height: 0;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 8px;
    background-color: @mantle;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    color: @maroon;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0px;
}

button:hover {
    background: inherit;
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces { 
    margin: 8px;
    background-color: @mantle;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

#workspaces button {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#workspaces button.focused {
    color: @rosewater;
    border-top: 2px solid @rosewater;
}

#workspaces button.active {
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

#clock {
    margin: 8px;
    color: @maroon;
    background-color: @mantle;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

#clock.date {
    color: @mauve;
}

#pulseaudio {
    margin: 8px;
    color: @blue;
    background-color: @mantle;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

#network {
    margin: 8px;
    color: @yellow;
    background-color: @mantle;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

#cpu {
    margin: 8px;
    color: @peach;
    background-color: @mantle;
    padding-left: 14px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

#temperature {
    margin: 8px;
    color: @sky;
    background-color: @mantle;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

#temperature.critical {
    color: @red;
    background-color: @mantle;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

#memory {
    margin: 8px;
    color: @flamingo;
    background-color: @mantle;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

#idle_inhibitor {
    margin: 8px;
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

#custom-vpn {
    margin: 8px;
    color: @lavender;
    background-color: @mantle;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}
