@import "theme.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  min-height: 0;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  min-height: 0;
}

.modules-right,
.modules-left {
  border-radius: 30px;
  background: @base;
  padding: 0.6em 0.4em;
  border: .5px solid @overlay;
}

window#waybar {
  background: transparent;
}

/* ── Shalove pill style ── */
#workspaces,
#clock,
#pulseaudio,
#network,
#cpu,
#temperature,
#memory,
#custom-updates,
#custom-holidays,
#custom-disk-root,
#custom-disks,
#custom-notification,
#custom-weather,
#custom-wp-next,
#custom-disk-home {
  margin: 0 0.3em;
  background-color: @crust;
  padding: 0 1.4em;
  border-radius: 30px;
  border: 1px solid @highlightlow; 
  color: @iris;
}

#clock:hover,
#pulseaudio:hover,
#custom-disks:hover,
#network:hover,
#cpu:hover,
#temperature:hover,
#memory:hover,
#custom-updates:hover,
#custom-holidays:hover,
#custom-disk-root:hover,
#custom-weather:hover,
#custom-wp-next:hover,
#custom-disk-home:hover {
  border-width: 1.5px;
  background-color: @iris;
  color: @crust;
  border-color: @pink;
}

#custom-notification.notification,
#custom-notification.dnd-notification {
    color: @red;
}

#custom-notification:hover {
  border-width: 1.5px;
  background-color: @crust;
  color: @love;
  border-color: @love;
}

#workspaces {
  margin: 0.65em 0.3em;
  background-color: @base;
  border: none;
  padding: 0 0.7em;
  /* background: transparent; */
}

#workspaces button {
  margin: 0.6em 0.2em;
  background-color: @mantle;
  border: 1px solid @surface1; 
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  padding: 0 5px;
  color: @mantle;
}

#workspaces button:hover {
  background: @crust;
  color: @mauve;
}

#workspaces button.active {
    color: @mauve;
    border: 1.5px solid @mauve;
    padding: 0 1em;
}

#workspaces button.urgent {
    color: @love;
    border: 1.5px solid @love;
}

tooltip {
  border: 1px solid @pink;
  background-color: @surface;
  color: @textmoon;
}

#custom-disks,
#pulseaudio,
#custom-notification {
  transition: all 100ms ease-in-out;
}

#custom-disks:hover,
#pulseaudio:hover,
#custom-notification:hover {
  padding: 0 1.6em;
}
